body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set body height to 100% of viewport height */
    background-color: #f0f0f0;

}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gameArea {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.label {
    margin: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    width: 100%;
    max-width: 300px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
}

.cell::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 200px;
}

.scoreboard h2 {
    margin-top: 0;
}

#status {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .board {
        max-width: 100%;
        justify-content: center;
    }

    .scoreboard {
        max-width: 100%;
    }

    .cell {
        font-size: 1.5em;
    }
    #startButton {
        margin: 3px;
    }
    .gameArea {
        display: flex;
        flex-direction: column;
    }
}
